// Copy file to ArduinoSecrets.h then fill in your secrets.
#ifndef ARDUINO_SECRETS_H
#define ARDUINO_SECRETS_H

#define MQTT_PASSWORD ""
#define WIFI_SSID ""
#define WIFI_PASSWORD ""

#endif // ARDUINO_SECRETS_H
